version: "3.8"

services:
  waha:
    image: devlikeapro/waha:latest
    container_name: waha
    ports:
      - "4000:3000"
    volumes:
      - ./data:/app/data
    environment:
      - WHATSAPP_HOOK_URL=http://localhost:8000/api/waha/webhook
      - WHATSAPP_HOOK_EVENTS=message
